.header{
    height: 100%;
    box-shadow: $shadow-1 ;
}
// Ad.js------------------------------------------------------------
.ad{
    height: 45px;
    width: 100%;
    background: url("../../public/images/ad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
// Top.js------------------------------------------------------------
.top{
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    &__container{
        min-width: 95%;
        margin: 0 auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        gap:15px;
        li{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:4px;
            color: #666;
            cursor: pointer;
            .flex{
                display: flex;
                align-items: center;
                gap: 2px;
                svg{
                    transform: scale(1.2);
                    margin-right: 3px;
                }
            }
            img{
                width: 28px;
                height: 28px;
                object-fit: cover;
                background-repeat: 50%;
            }
            svg{
                width: 20px;
                height: 20px;
                fill: #ccc;
            }
            span{
                font-style: 12px;
            }
            &::after{
                content:"";
                position: absolute;
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 20px;
                background: #ccc;
            }
            &:last-of-type{
                &::after{
                    display: none;
                }
            }
            &:hover{
                color: #222;
            }
        } 
    }
    img{
        width: 20px;
    }
}