.footer{
    background: #f8f8f8;
    &__container{
        position: relative;
        width: 100%;
        display: grid;
        gap: 3rem;
        padding: 1rem;
        b{
            text-transform: uppercase;
        }
    }
    img{
        width: 140px;
        height: 40px;
    }
    h3{
        font-style: 12px;
        font-weight: 700;
        color: #222;
    }
    &__links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        ul{
            padding: 5px;
            li{
                font-style: 12px;
                a{
                    color: #666;
                    line-height: 23px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__socials{
        section{
            ul{
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 1rem;
                li{
                    font-style: 2rem;
                    color:#666;
                    &:hover{
                        color: $blue-color;
                    }
                }
            }
        }
    }
    &__flex{
        display: flex;
        margin-top: 10px;
    }
    &__newsletter{
        input{
            outline: none;
            bottom: 1px solid #999;
            flex:1;
            height: 40px;
            font-style: 14px;
            padding-left: 10px;
        }
        button{
            width: 150px;
        }
        p{
            margin-top: 10px;font-style: 12px;color: #666;
            a{
                color: $blue-color;
                text-decoration: underline;

            }
        }
    }
    &__payment{

    }
    &__flexwrap{
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
        margin-top: 1rem;
        img{
            width: 60px;
            height: 40px;
            object-fit: cover;

        }
    }
}