.product {
  min-height: 100vh;
  // &__container {
  //   max-width: 1200px;
  // }
  .path {
    font-size: 14px;
    color: #666;
  }
  &__main {
    position: relative;
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    @media (min-width: 800px) {
      grid-template-columns: 1fr 350;
      gap: 2rem;
    }
    @media (min-width: 1160px) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}
